body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #000;
}
a,
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
.navbar {
  background-color: #46ccc5;
}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.fa.fa-bars {
  margin-left: 20px;
}
.nav-logo {
  margin-top: -5px;
  height: 30px;
}
.fa {
  margin-right: 20px;
}
.fa.fa-bars {
  margin-top: 10px;
}
.navbar-right {
  position: fixed;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}
.loveList-title {
  margin-top: 70px;
  margin-bottom: 20px;
  border-bottom: 1px #dadada solid;
}
.panel {
  border-bottom: 1px #dadada solid;
  border-radius: 0px;
  margin: 0px;
}
.media-object {
  width: 70px;
  height: 70px;
}
.media-heading {
  font-size: 14px;
  color: #000;
}
.price {
  font-size: 12px;
  color: #46ccc5;
}
.fa-comment-o,
.fa-heart-o {
  margin-right: 10px;
  color: #ddd;
}
.loading {
  text-align: center;
  padding: 10px;
}
.loveList-footer {
  padding: 30px;
  text-align: center;
}
.loadMore {
  color: #46ccc5;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
