body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #46ccc5;
  color: #fff;
}
a {
  color: #00b7ff;
}
.logo {
  width: auto;
  height: auto;
  text-align: center;
  margin: 10%;
}
.form-group {
  padding-bottom: 20px;
}
.formInput {
  margin: 8px auto;
}
.form-control {
  background-color: #19aca2;
  border: none;
  border-radius: 0px;
}
.login {
  width: 100%;
  background-color: #46ccc5;
  border: 0.5px solid #fff;
  padding: 10px;
  color: #fff;
}
.lupaPassword {
  float: right;
}
.loginButton {
  width: 100%;
  background-color: #19aca2;
  border: none;
  padding: 10px;
  margin-bottom: 8px;
  color: #fff;
  text-align: center;
}
.keterangan {
  font-size: 12px;
  text-align: center;
  border-bottom: 0.5px solid #fff;
}
